@*<div class="col-md-3 mb-md-1 mb-3 p-md-2">
    <div class="position-absolute m-2" style="top:0; right:0;">
        <a class="btn btn-dark align-self-center">Удалить<i class="fas fa-pencil-alt"></i></a>
        <a class="btn btn-dark align-self-center">Изменить<i class="fas text-danger fa-trash-alt"></i></a>
    </div>
    <div class="card position-relative border-0">
        <button class="btn btn-link m-0 p-0 border-0">
            <img src="@album.cover_image" class="card-img">
            <div class="card-footer border-0 position-absolute fixed-bottom text-left text-white название_альбома">
                <h5 class="card-title mb-0">@album.title</h5>
                <span class="text-light font-weight-light">@album.description</span><br class="mb-2" />
                <small class="text-light mb-3">Опубликовано @album.created.ToShortDateString()</small>
            </div>
            <div>
                @Navigation
            </div>
        </button>
    </div>
</div>*@



<div class="col mb-3">
    <div class="card bg-dark text-white">
        <img src="@album.cover_image" class="card-img">
        <div class="card-img-overlay">
            <h5 class="card-title">@album.title</h5>
            <div class="text-white">@album.description</div>
            <div class="text-secondary">фотографий в альбоме:<span class="badge badge-light badge-pill">@album.images.Count</span></div>
            <div class="text-secondary">опубликован: <span class="badge badge-light badge-pill">@album.created.ToShortDateString()</span></div>
        </div>
        <div class="card-body position-absolute fixed-bottom d-flex justify-content-center">
            @Navigation
        </div>
    </div>
</div>




@code {
    [Parameter]
    public imagesAlbum album { get; set; }

    [Parameter]
    public RenderFragment Navigation { get; set; }
}
