<tr>
    <th class=""><div class="form-control border-0 font-weight-bold">@schedule_string.date_and_time.Day, @schedule_string.date_and_time.DayOfWeek</div></th>
    <th class=""><input class="form-control border-0" @bind="@schedule_string.description" /></th>
    <th class="">
        @if (время.ToShortTimeString()!="0:00")
        {
            <input type="time" class="form-control border-0 font-weight-bold" @bind="время" />
        }
        else
        {
            <input type="time" class="form-control border-0 text-white" @bind="время" />
        }        
    </th>
    <th class="">
        <select class="form-control border-0" @bind="schedule_string.prayer" title="Тип публикации">
            @foreach (var t in type.GetNames(typeof(тип_службы)).ToList())
            {
                <option class="bg-light" value="@t">@schedule.GetDescription(Enum.Parse<тип_службы>(t))</option>
            }
        </select>
    </th>
</tr>



@code {
    [Parameter]
    public schedule_string schedule_string { get; set; }

    public DateTime время
    {
        get {
            return DateTime.Parse(schedule_string.date_and_time.ToShortTimeString());
        }
        set
        {
            schedule_string.date_and_time = DateTime.Parse(String.Format("{0} {1}", schedule_string.date_and_time.ToShortDateString(), value.ToShortTimeString()));
        }
    }
}
